@charset "utf-8";
/* CSS Document */
.navbar	{
	background-color: #AF9AB2;
}

.navbar a {
	color: #E4FDE1;
	
}
.dropdown-menu a {
	color: #000;
	
}
.navbar a:hover {
	color: #7F7B82;
	
}

.navbar .active {
	color: #7F7B82;
}
.card {
	border: none;
}

.footer {
	background-color: #9ea7a8;
	padding: 10px 0px;
	color: floralwhite;
	  
}
 
.carousel .carousel-item {
	height: 500px; 
}
.carousel .carousel-item img {
	position: absolute;
	min-height: 500px;
}
.carousel-caption {
	font-size: x-large;
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}
#carouselButton {
	right: 0px;
	position: absolute;
	bottom: 0px; 
}
		
/*star rating css*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/*end of star rating css*/

/*timeline*/
 main {
	 min-width: 300px;
	 max-width: 900px;
	 margin: auto;
	counter-reset: section 2015; 
	padding: 0 4em;
}
 main p {
	 font-size: 1em;
	 line-height: 1.75em;
	 border-top: 3px solid;
	 border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
	 border-image-slice: 1;
	 border-width: 3px;
	 margin: 0;
	 padding: 40px;
	 counter-increment: section;
	 position: relative;
	 color: #34435e;
}
 main p:before {
	 content: counter(section);
	 position: absolute;
	 border-radius: 20%;
	 padding: 20px;
	 height: 1.25em;
	 width: 5em;
	 background-color: #34435e;
	 text-align: center;
	 line-height: 0em;
	 color: #fff;
	 font-size: 1em;
}
 main p:nth-child(odd) {
	 border-right: 3px solid;
	 padding-left: 0;
}
 main p:nth-child(odd):before {
	 left: 100%;
	 margin-left: -20px;
}
 main p:nth-child(even) {
	 border-left: 3px solid;
	 padding-right: 0;
}
 main p:nth-child(even):before {
	 right: 100%;
	 margin-right: -20px;
}
 main p:first-child {
	 border-top: 0;
	 border-top-right-radius: 0;
	 border-top-left-radius: 0;
}
 main p:last-child {
	 border-bottom-right-radius: 0;
	 border-bottom-left-radius: 0;
}
 /*end of timeline*/
 #paintingbg{
	 background-image: url('../img/paintingbg.jpg');
     /*background-attachment: fixed;*/
     background-size: cover;
	 z-index: -1;
	width: 100%;
	height:auto;
	margin: 0px ;
	padding: 0px;
 }
 img[class$="paint1"]{
	border:6px groove #8b4513;
	width: 225px;
	 height: 151px;
	 margin:auto;
}
img[class$="paint3"]{
	border:6px groove #cd8500;
	width: 225px;
	 height: 151px;
	 margin:auto;
}
img[class$="paint5"]{
	border:6px groove #a0522d;
	width: 225px;
	 height: 151px;
	 margin:auto;
}
img[class$="paint2"]{
	border:6px groove #ffa54f;
	width: 151px;
	 height: 225px;
	 margin:auto;
}
img[class$="paint4"]{
	border:6px groove #8b5a2b;
	width: 151px;
	 height: 225px;
	 margin:auto;
}
img[class$="paint6"]{
	border:6px groove gold;
	width: 151px;
	 height: 225px;
	 margin:auto;
}
#paint-title{
	color:white;
	padding:10px;
}
/*<img style="border:5px groove gold;" 
src="//www.html.am/images/image-codes/milford_sound_t.jpg" width="225" height="151" 
alt="Photo of Milford Sound in New Zealand" />
*/